# api-gateway
application-gateway-secret.yml
# auth-service
application-auth-rds.yml
application-auth-secret.yml
# image-service
application-s3.yml
# member-service
application-member-rds.yml
# team-service
application-team-mysql.yml
# thread-service
application-thread-rds.yml

# shellscript
*.sh

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
